<h1><%= @user.username %></h1>

<% if @profile.profile_picture.attached? %>
  <%= image_tag @profile.profile_picture %>
<% else %>
  <%= image_tag "default-profile.png" %>
<% end %>

<p><%= @profile.bio.presence || "No Yapping To Be Seen Here." %></p>

<% if current_user == @user %>
  <%= link_to "Edit", edit_user_profile_path(@user) %><br />
  <%= link_to "New Post", new_post_path %>
<% end %>

<%= render @posts %>
