<span class="profile-username"><h1><%= @user.username %></h1></span>

<div class="profile-container">
  <%= image_tag @profile.profile_picture_url, class: "profile-picture"  %>
  <div class="profile-text">
    <div class="counts">
      <p>Followers: <%= @user.followers.count %>
      Following: <%= @user.following.count %>
      Likes: <%= @user.total_likes %></p><br />
    </div>
    <div class="bio">
      <%= @profile.bio.presence || "No Yapping To Be Seen Here." %>
    </div>
  </div>
</div>

<br />
<% if current_user == @user %>
  <span class="edit-profile"><%= link_to "Edit Profile", edit_user_profile_path(@user) %><br /></span>
<% end %>

<div class="post-container">
  <span class="profile-username"><h2><%= @user.username %>'s Posts</h2></span>
  <%= render @posts %>
</div>
