<div class="user">
  <%= image_tag user.profile.profile_picture_url, class: "profile-pic" %>
  <span class="username"><%= link_to user.username, user_profile_path(user) %> </span>
  <span class="follow-button">
    <div id="follow_button_<%= user.id %>">
      <% unless current_user == user %>
        <% if current_user.following.include?(user) %>
          <%= button_to "Unfollow", followings_path(followed_id: user.id), method: :delete, remote: true, data: { turbo_stream: true } %>
        <% else %>
          <%= button_to "Follow", followings_path(followed_id: user.id), method: :post, remote: true, data: { turbo_stream: true } %>
        <% end %>
      <% end %>
    </div>
  </span>
</div>
