<div class="post" id="post-<%= post.id %>">
  <%# image_tag(post.author.profile.profile_picture_url, alt: "#{post.author.username}'s profile picture", class: "profile-pic") %>
  <h2><%= link_to post.author.username, user_profile_path(post.author) %>: </h2>
  <p><%= post.body %></p>
  <div id="like-count-<%= post.id %>">
    <%= render "posts/like_count", post: post %>
  </div>

  <% if current_user == post.author %>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <% else %>
    <div id="like-button-<%= post.id %>">
      <%= render "posts/like_button", post: post %>
    </div>
  <% end %>

</div>
 
<div>
  <h3>Comments</h3>
  <% post.comments.each do |comment| %>
    <%= render comment %>
    <% if current_user == comment.author %>
      <%= link_to "Edit", edit_post_comment_path(post, comment) %>
      <%= button_to "Delete", post_comment_path(post, comment), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
  <h3>Add a comment:</h3>
  <%= render "comments/form", post: post %>
</div>
