<div class="post" id="post-<%= post.id %>">
  <div class="post-header">
  <%= image_tag post.author.profile.profile_picture_url, class: "profile-pic" %>
  <span class="username"><%= link_to post.author.username, user_profile_path(post.author) %></span>
  </div>

  <div class="post-body" >
    <p><%= post.body %></p>
  </div>

  <div id="like-count-<%= post.id %>">
    <%= render "posts/like_count", post: post %>
  </div>

  <% if current_user == post.author %>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <% else %>
    <div id="like-button-<%= post.id %>">
      <%= render "posts/like_button", post: post %>
    </div>
  <% end %>
</div>
 
<div>
  <h3>Comments</h3>
  <% post.comments.each do |comment| %>
    <%= render comment %>
    <div>
      <% if current_user == comment.author %>
        <br />
        <%= link_to "Edit", edit_post_comment_path(post, comment) %>
        <%= button_to "Delete", post_comment_path(post, comment), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  <% end %>
  <h3>Add a comment:</h3>
  <%= render "comments/form", post: post %>
</div>
